body {
    font-family: Garamond, serif;
    font-size: 12pt;
    background-color: #EAF6F6;
}

#display{
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36pt;
    font-family: monospace;
    line-height: 100px;
    border: 2px solid #8EBEBE;
    border-radius: 5px;
    text-align: center;
    background-color: #FFFFFF;
}

h1 {
    text-align: center;
}

#control {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

textarea {
    border: 1px solid gray;
    background-color: #FFFFFF;
}


fieldset {
    border:none;
}

button {
    background-color: #FFFFFF;
    border:1px solid gray;
}

legend {
    border-bottom: 1px solid #8EBEBE;
    width: 100%;
    font-weight: bold;
}

#flex2 {
    display:flex;
    justify-content: center;
}

#links {
    position: fixed;
    bottom: 2.5px;
    left: 2.5px;
}